<div class="row">
     <div class="col-sm-4">
      <h2>Add a Burger</h2>
      <form class="create-update-form" action="/create" method="POST">

        <div class="form-group">
          <label for="bu">Burger Name:</label>
          <input type="text" id="bu" name="burger_name">
        </div>

        <div class="form-group">
          <label for="slee">Devoured?</label><br>
          <input type="radio" name="devoured" value="0" checked> Devoured<br>
          <input type="radio" name="devoured" value="1"> Not Devoured
        </div>

        <button type="submit" class="btn btn-danger">Add Burger</button>
      </form>
    </div>
    <div class="col s5 center-align">
        <ul>
            {{#each burger}}
                {{#unless this.devoured}}
                    <div class="card red">
                        <p>
                            {{this.id}}. {{this.burger_name}}

                            <form action="update/{{this.id}}?_method=PUT" method="post">
                            <input type="hidden" name="devoured" value="1">
                            <button type="submit" class="btn btn-danger">CONSUME</button>
                            </form>
                        </p>
                    </div>
                {{/unless}}
            {{/each}}
        </ul>
    </div>

    <div class="col s5 center-align">
        <ul>
            {{#each burger}}
            {{#if this.devoured}}
            <div class="card red lighten-3">
                <p class="black-text">
                    {{this.id}}. {{this.burger_name}}
                    <form action="delete/{{this.id}}?_method=DELETE" method="POST">
                                                <button type="submit" class="btn btn-danger">Get Rid of It</button>

                    </form>
                </p>
            </div>
            {{/if}}
            {{/each}}
        </ul>
    </div>
   
</div>